logging:
  level:
    org:
      springframework: INFO
      hibernate: INFO
      bw:
        co:
          roguesystems: DEBUG
server:
  port: ${PORT:8085}
  servlet:
    context-path: /
spring:
  application:
    name: centralkyc-webservice
  threads:
    virtual:
      enabled: true
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  servlet:
    multipart:
      enabled: true
      max-file-size: -1 # No file size limit
      max-request-size: -1  # No limit on request size
      location: ${java.io.tmpdir}
      file-size-threshold: 50MB
  thymeleaf:
    cache: false
  mvc:
    format:
      date: iso
      date-time: iso
      time: HH:mm:ss
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
  liquibase:
    enabled: false
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${AUTH_URL:http://localhost:8970}/realms/${REALM:centralkyc}

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD}
      timeout: 100
management:
  endpoint:
    health:
      show-details: always
    metrics:
      access: READ_ONLY
    prometheus:
      access: READ_ONLY
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,metrics,prometheus
        exclude: env,shutdown,heapdump
  metrics:
    tags:
      application: ${spring.application.name}
      version: ${spring.application.version}
  tracing:
    sampling:
      probability: 1.0  # 100% for development
  otlp:
    metrics:
      export:
        url: ${OTLP_URL:http://localhost:4318}/v1/metrics
  opentelemetry:
    tracing:
      export:
        otlp:
          endpoint: ${OTLP_URL:http://localhost:4318}/v1/traces
    logging:
      export:
        otlp:
          endpoint: ${OTLP_URL:http://localhost:4318}/v1/logs
rate-limiting:
  tokens: ${RATE_LIMIT:2000}
minio:
    url: ${MINIO_URL:http://localhost:9000}
    access-key: ${MINIO_ACCESS_KEY:minio}
    secret-key: ${MINIO_SECRET_KEY:minio123}
    bucket-name: ${MINIO_BUCKET:centralkyc}
app:
  request-token-length: ${REQUEST_TOKEN_LENGTH:32}
  registration-url: ${REGISTRATION_URL:http://localhost:4300/register}
  admin-web: ${ADMIN_WEB_URL:http://localhost:4200}
  tessdata-prefix: ${TESSDATA_PREFIX:/usr/share/tesseract-ocr/5/tessdata}
  tessdata-langs: ${TESSDATA_LANGS:eng}
  comm:
    base-url: ${COMM_SERVICE_URL}
    send-message: ${SEND_MESSAGE_URL}
    source-email: ${SOURCE_EMAIL}
  security:
    password:
      min-length: ${MIN_PASSWORD_LENGTH:8}
  organisation:
    manager-role: ${ORGANISATION_MANAGER_ROLE:ORG_MANAGER}
  registration:
    client: ${REGISTRATION_CLIENT:centralkyc-registration}
    client-secret: ${REGISTRATION_CLIENT_SECRET:secret}